.lgd-footer {
  background-color: var(--color-section-footer-bg);
}

.lgd-footer a {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.lgd-footer a:hover {
  text-decoration: underline;
}
