.ia-block {
  padding: var(--grid-column-spacing);
  border: var(--border);
  background-color: var(--color-grey-lightest);
  height: 100%;
  box-sizing: border-box;
}

.field__items:has(> .field__item > .ia-block) {
  /* display: flex; */
  flex-wrap: wrap;
  gap: var(--grid-column-spacing);
}

.field__items:has(> .field__item > .ia-block) > .field__item {
  flex: 1 1 100%;
  min-width: 0;
}

@media (min-width: 48rem) {
  .field__items:has(> .field__item > .ia-block) > .field__item:has(> .ia-block) {
    flex: 0 1 calc(50% - (var(--grid-column-spacing) / 2));
  }
}

@media (min-width: 64rem) {
  .field__items:has(> .field__item > .ia-block) > .field__item:has(> .ia-block) {
    flex: 0 1 calc((100% - (2 * var(--grid-column-spacing))) / 3);
  }
}
