.service-cta-block__list {
  margin-block: var(--grid-column-spacing);
  border-block-end: 0;
}

.service-cta-block__link-title {
  font-weight: 700;
}

.service-cta-block__list-item {
  margin-block-end: var(--grid-column-spacing);
}

.service-cta-block__link {
  border-radius: 999px;
  background-color: var(--color-accent);
  @apply transition-colors duration-150;
}

.service-cta-block__link:hover {
  background-color: var(--color-accent-2);
  color: white;
}
